[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=RML Visualizer
Comment=Rainbow Music Led
Exec=KeyboardVisualizer
Icon=KeyboardVisualizer
Terminal=false
Categories=Utility;
